{% import "header.html" as header %}

{{ header.ocnHeader() }}

<html>
<body>

    {{ header.sidebar(all_reports) }}
    <div class="ui container">
        <table id="resultsTable" class="ui sortable selectable celled table">
            <thead>
                <th>Title</th>
                <th>Report Template Name</th>
                <th>Status</th>
                <th>Start Time</th>
                <th>Completion Time</th>
                <th>Results</th>
                <th>Download ipynb</th>
                <th>Download pdf</th>
                <th>Delete Result</th>
            </thead>
            <tbody>
            {% for ((report_name, job_id), result) in all_jobs.items() %}
                <tr>
                    <td>{{ result.report_title }}</td>
                    <td>{{ result.report_name }}</td>
                    <td>{{ result.status.value }}</td>
                    <td>{{ result.job_start_time }}</td>
                    <td>{{ result.job_finish_time }}</td>
                    <td><button onclick="location.href='{{ result.result_url }}'"
                                type="button" class="ui button blue">Result</button>
                    </td>
                    <td>
                        {% if result.status == donevalue %}
                            <button onclick="location.href='{{ result.ipynb_url }}'"
                                    type="button" class="ui button yellow">Download .ipynb</button>
                        {% endif %}
                    </td>
                    <td>
                        {% if result.pdf %}
                            <button onclick="location.href='{{ result.pdf_url }}'"
                                    type="button" class="ui button yellow">Download .pdf</button>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="ui button red deletebutton" id="delete_{{ result.job_id }}">
                            <i class="trash icon"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <button class="ui button black" onclick="location.href=window.location.href+'/?limit=0'">
                Load all {{ n_results_available }} results
            </button>
        </div>
    </div>
    <div class="ui modal" id="deleteModal">
      <div class="header">Delete report</div>
      <div class="content">
        <p>Are you sure you wish to delete this report?</p>
      </div>
      <div class="actions">
        <div class="ui approve button red">Delete</div>
        <div class="ui cancel button">Cancel</div>
      </div>
    </div>
</body>
</html>
