#ocnMenu {
    margin: 0 0 1rem 0;
}

#errorMsg {
    white-space: pre-wrap
}

code {
    white-space: pre-line;
}

#overrides {
    font-family: monospace;
}

#templateHint {
    text-align: right;
    display: block;
}
