{% import "header.html" as header %}

{{ header.ocnHeader() }}

<html>
<body>

    <table id="resultsTable" class="ui sortable selectable celled table">
        <thead>
            <th>Report Name</th>
            <th>Status</th>
            <th>Start Time</th>
            <th>Completion Time</th>
            <th>Results</th>
            <th>Download Link</th>
        </thead>
        <tbody>
        {% for report_name, completed_reports in all_jobs.items() %}
            {% for job_id, result in completed_reports.items() %}
                <tr>
                    <td class="result-reportName">{{ result.get('report_name') }}</td>
                    <td class="result-status">Complete</td>
                    <td class="result-completeTime">{{ result.get('start_time') }}</td>
                    <td class="result-completeTime">{{ result.get('complete_time') }}</td>
                    <td class="result-url"><button><a href="{{ result.get('result_url') }}">Result</a></button></td>
                    <td class="result-ipynb"><button><a href="{{ result.get('ipynb_url') }}">Download .ipynb</a></button></td>
                </tr>
            {% endfor %}
        {% endfor %}

        {% for pre_result in running_jobs %}
            <td class="result-reportName">Pending</td>
            <td class="result-status">{{ pre_result.get('status') }}</td>
            <td class="result-completeTime"></td>
            <td class="result-completeTime"></td>
            <td class="result-url"><button><a href="{{ pre_result.get('tracker_url') }}">Result</a></button></td>
            <td class="result-ipynb"><button class="ui button disabled"><a href="#">Download .ipynb</a></button></td>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
